<% if  @order_items.any? %>
    <% @order_items.each do |item| %>
        <p>
            <%= item.product.name%>
        </p>
        <p>
            Unit price: <%= number_to_currency(item.product.price)%>
            Quantity: <%= item.quantity %>
            Total Price: <%= number_to_currency(item.product.price * item.quantity) %>
        </p>
    <% end %>
    <p>
        Your total: <%= number_to_currency(current_order.total) %>
    </p>
<% else %>
    <p> Your Cart is empty </p>
<% end %>

