<%#= form_for @post do |f| %>
    <%#<div>%>
        <%#= f.label :title %> 
        <%#= f.text_field :title %>
    <%#</div>%>
    <%#<div>%>
        <%#= f.label :content %> 
        <%#= f.text_area :content %>
    <%#</div>%>

    <%# <div> %>
        <%#= f.check_box :namecampo %>
        <%#= f.radio_button :namecampo %>
        <%#= f.date_field :namecampo %>
        <%#= f.password_field :namecampo %>
        <%#= f.hidden_field :namecampo %>
        <%#= f.email_field :namecampo %>
        <%#= f.collection_select (:namecampo, :namecamp ...) %>
    <%# </div> %>

     <%#<div>%>
        <%#= f.submit %>
    <%# </div>%>
<%# end %>

<%# Formulario no asociado a ningún modelo (db)
<%#= form_tag("/search", method: "get") do %>
<%#= label_tag(:q, "Search for:") %>
<%#= text_field_tag(:q) %>
<%#= submit_tag("Search") %>
<%# end %>

<div class="container">

  <%= render 'header' %>
  <%= render 'categories' %>
  <%= render "layouts/alerts" %>

</div>

<main role="main" class="container mt-4">
  <div class="row">
    <div class="col-md-12 blog-main">
      <hr>
        <div class="blog-post">
          <% unless @post.new_record? %>
            <h2 class="blog-post-title"><%= @post.title %></h2>
            <p class="blog-post-meta"><%= time_ago_in_words(@post.created_at) %> ago by <a href="#"><%= @post.user.email %></a></p>
          <% end %>
          <p>
            <%= form_for @post do |f| %>
            <% if @post.errors.any? %>
              <div class="alert alert-danger alert-block alert-fized">
              <p>
                <%= pluralize(@post.errors.count, "error") %>
                Prevented this post from saving
              </p>
              <ul>
              <%@post.errors.full_messages.each do |msg|%>
              <li> <%= msg %></li>
                <% end %>
              </ul>
              </div>
            <% end %>
            <div class="form-group">
              <label>Category</label>
              <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Choose a category" }, {class: "form-control" }) %>
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <%= f.text_field :title, class: "form-control"  %>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Content</label>
                <%= f.text_area :content, class: "form-control" %>
              </div>
              <%= f.submit class: "btn btn-primary" %>
            <% end %>

          </p>

        </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->

<%= render "layouts/footer" %>