<h1>Posts</h1>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Crear nuevo post", new_post_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.user.email %></td>
        <td><%= post.title %></td>
        <td>
          <%#= link_to "Texto que va a aparecer", ruta_path, method, class %>
          <%= link_to "Mostrar", post_path(post) %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Editar", edit_post_path(post) %>
            <%= link_to "Eliminar", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>