 <%#= render @post.comments %>
 <%#= render "comments/comments" %>
 <%#= render "comments" %> <%# Esto se cambia por la línea anterior debido a que se creo _comments en la misma vista de post%>
 <%#= render 'comments/form' %>
<%#= render 'add_comment' %>

  <div class="container">

  <%= render 'header' %>
  <%= render 'categories' %>
  <%= render "layouts/alerts" %>

</div>

<main role="main" class="container mt-4">
  <div class="row">
    <div class="col-md-12 blog-main">
      <hr>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= @post.title %></h2>
          <p class="blog-post-meta"><%= time_ago_in_words(@post.created_at) %> ago by 
          <a href="#"><%= @post.user.email %></a> |
          Category: <%= @post.category.name %>
          Published At: <span id="published-at"><%= @post.published_at %></span>
          </p>
          <p>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to "Publish", publish_post_path(@post), method: :patch, remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Publishing..."}, class: "btn btn-warning" %>
              <%= link_to "Editar", edit_post_path(@post), class: "btn btn-primary" %>
              <%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Are you sure?", disable_with: "<i class='fa fa-spinner fa-spin'></i> Removing..."}, class: "btn btn-danger" %>
            <% end %>
          </p>
          <p>
            <%= @post.content %>
          </p>
        </div><!-- /.blog-post -->

        <% if @post.comments.exists? %>
          <%= render 'comments' %>
        <% end %>

        <%= render 'add_comment' %>

        <br>

    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->

<%= render "layouts/footer" %>




