<body>

    <main role="main">

      <%= render "layouts/alerts" %>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <% @products.each do |product| %>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">

                  <%= image_tag("cart.svg", class: "card-img-top") %>

                  <div class="card-body">
                    <p class="card-text"><%= product.name %> | <%= number_to_currency(product.price) %></p>


   
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                          <%= link_to "View Details", product_path(product), class: "btn btn-info" %>

                        </div>
                      
                    </div>
                  </div>
                </div>
              </div>

            <% end %>



          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>


  </body>

